# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in external disks
.Spotlight-V100
.Trashes

# VSCode
.vscode/

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.env/
.venv/

# Logs
*.log

# Environment Variables
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Ansible
*.retry

# Temporary files
tmp/
temp/

# macOS hidden files
*.swp
